*{
padding: 0;
margin: 0;
}

div.menu {background-color: white;
width: 100%;
height: 150px;
display: flex;
}

.imasLogo{
width: 35%;

}

.iconos{
width: 50px;

}

.redesSociales{
text-align: end;
justify-content: space-evenly;
width: 60%;
display: flex;
align-items: flex-end;
flex-direction: column
}
.buscador{
text-align: ;

}

.headerContenido{
text-align: end;
}

.menu.ul{align-items: end;}

img.logoRedesSociales{ width: 40%; height: 40%;

}

img.rrss{width: 3%; height: 3%;}

div.navegadorHeader{background-color: #202c54;
color: white;
text-decoration: none;
display: flex; justify-content: space-around; align-items: center;
width: 1263px;
height: 70px;
}

a.navegadorText{
color: white;
text-decoration: none;

}


div.imagenConMovimiento{background-image: url(https://www.imas.go.cr/sites/default/files/styles/slider_full/public/content/banner-servicios_0.jpg?h=afebe79b&itok=5W_TH-JP); background-repeat: no-repeat; background-size: 100%;   
width: 1263px;
height: 385px;
}

.textoImagenConMovmiento{ background-color: #2a868fd5;
width: 630px;
height: 400px;
text-align: center; 
color: white;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div.parteInformativa{background-color: white;
width: 1263px;
height: 550px;

display: flex; justify-content: space-around; align-items: end;
}

div.comunicados{background-color: white;
width:360px;
height:500px;
}

div.avisos{background-color: #f3f3f3;
width:360px;
height:500px;
}

div.scrollFacebook{background-color: beige;
width:340px;
height:500px;
}

div.cuadros{background-color: white;
color: white;
width: 1263px;
height: 385px;

display: flex; align-items: center; justify-content: space-around;
}

div.bienestar{background-color: rgb(195, 161, 118);
width:280px;
height:200px;
text-align: center;
}

div.desarrolloEducativo{background-color: rgb(49, 49, 206);
width:280px;
height:200px;
text-align: center;
}

div.desarrolloProducivo{background-color: rgb(21, 160, 63);
width:280px;
height:200px;
text-align: center;
}

div.atencion{background-color: rgb(9, 9, 63);
width:280px;
height:200px;
text-align: center;
}

div.infoConVideo{background-color: #eae4e4;
text-align: center;
width: 1263px;
height: 480px;
}
.yutu{
border: #202c54 solid; 
width: 450px;
height: 300px;
justify-content: end;
}

.estrategia{
text-align: center;
color: #0c94b4;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.vayanCentro{


}

h2.videos{text-align: center;color: #0c94b4;
font-family:Arial, Helvetica, sans-serif;
font-size: 200%;}

ul.videos{background-color: white;
list-style: none;
display: flex; justify-content: space-around; align-items: center;

}

div.conoceMas{background-color: #d8b45c;
color: white;
width: 1263px;
height: 150px;
text-align: center;
}

.cuadrosConozcaMas{ display: flex; justify-content: space-around;


}
div.pepe{background-color: #0034a0;
width:300px;
height:40px;
}

div.pepa{background-color: #0034a0;
width:300px;
height:40px;
}

div.papa{background-color: #0034a0;
width:300px;
height:40px;
}



footer{background-color: #202c54;
color: white;}

.footer{display: flex;}









